body{
    background-color: rgb(31, 31, 31);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.mainMenu{
    display: flex;
    flex-direction: row;
    background-color: black;
}

.logo{
    font-size: 2rem;
    width: 20rem;
    margin-left: 2rem;
    color: whitesmoke;
}
.letrasMenu{
    display: flex;
}
.btnMenu{
    background-color: transparent;
    font-size: 01rem;
    color: whitesmoke;
    border: none;
    opacity: 0.5;
}
.btnMenu:hover{
    opacity: 1;
}
.menu{
    margin-right: 3rem;
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 2rem;
}
.textoBody{
    color:whitesmoke;
    background-color: rgb(177, 54, 136);
    font-size: 4rem;
    padding-left: 2rem;
}
.cuadrado{
    background-color: aqua;
    width: 30rem;
}
