*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(31, 31, 31);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.mainMenu{
    display: flex;
    flex-direction: row;
    background-color: black;
    width: 100%;
}
.logo{
    font-size: 3rem;
    width: 40rem;
    margin-left: 2rem;
    color: whitesmoke;
    text-align: start;
}

.btnMenu{
    background-color: transparent;
    color: whitesmoke;
    border: none;
    opacity: 0.5;
}
.btnMenu:hover{
    opacity: 1;
}
.menu{
    margin-right: 3rem;
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 2rem;
}
.letrasMenu{
    display: flex;
    background-color: transparent;
    font-size: 1.5rem;
    color: whitesmoke;
    border: none;
    text-decoration: none;
    padding-top:0.5rem;
}

.texto{
    background-color: rgb(177, 54, 136);
}

.textoTitle{
    color:whitesmoke;
    font-size: 2rem;
    padding-left: 2rem;
}

.bloque1{
    display: flex;
    flex-direction: row;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.titleBloque1{
    color: #ffff;
    font-size: 4rem;
    margin-left: 20rem;
    
}

.imagenBloque1{
    display: flex;
    width: 30rem;
    height: 30rem;
    animation: fadeIn 6s;
}


.parrafo-1{
    margin-top: 2rem;
    display: flex;
    color: #ffff;
    justify-items: center;
    text-align: right;
    width: 50rem;
    padding-right: 3rem;
    animation: fadeIn 8s;   
}

@media all and (max-width: 980px){
    .bloque1{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
} 

@media all and (max-width: 980px){
    .parrafo-1{
    margin-top: 2rem;
    display: flex;
    color: #ffff;
    justify-items: center;
    text-align: right;
    width: 20rem;
    padding-right: 1rem;
    }
} 
@media all and (max-width: 980px){
    .logo{
        text-align: center;
        width: 20rem;
    }
}

@media all and (max-width: 980px) {
    .mainMenu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        gap: 0.5rem;
    }
}
@media all and (max-width: 980px) {
    .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 2rem;
    }
}

@media all and (max-width: 980px){
.textoTitle {
    color:whitesmoke;
    font-size: 2rem;
    padding-left: 2rem;
    width: 100%;
    }
}

.barraEspacio{
    background-color:#ffffff75;
    width: 100%;
    height: 4px;
    margin: 0;
    padding: 0;
}

.videArrival{
    width: 100%;
    height: auto;
    animation: fadeIn 8s;
}

.bloque-2{
    display: flex;
    justify-content: center;
}

.parrafo-2{
    color: #ffff;
    justify-items: center;
    align-items: center;
    width: 50rem;
    padding-right: 3rem;
}

.readMore{
    color: rgb(177, 54, 136);
    opacity: 0.5;
}

.readMore:hover{
    color: rgb(255, 138, 216);
    opacity: 1;
}

.cointainerLogin{ 
    display: flex;  
    background-image: url(../assets/untitled3.jpg);
    background-size:cover;
    width: 100%;
    height: 60vw;
    justify-content: center;
    padding-top: 4rem;
}

.loginMenu {
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(233, 233, 233, 0.25);
    width: 30rem;
    height: 25rem;
    border-radius: 8px;
    padding: 2rem;
}
.loginMenu:hover{
    background-color: rgba(233, 233, 233, 0.35);
    border: solid black 2px;
    transition: 0.5s;
}
.inputLogin{
    background-color: rgba(233, 233, 233, 0.555);
    width: 20rem;
    border:solid black 2px;
    opacity: 0.5;
    border-radius: 4px; 
    color: black;
}

.inputLogin:hover{
    width: 20rem;
    border:none;
    opacity: 1;
    border-radius: 4px;
    transition: 0.5s; 
    color: black;
}

.btnSubmit{
    background-color: rgba(233, 233, 233, 0.555);
    border: none;
    border-radius: 4px;
    padding:0.4rem 0.8rem;
}
.btnSubmit:hover{
    background-color: rgba(233, 233, 233, 0.836);
    border: none;
    border-radius: 4px;
    padding:0.4rem 0.8rem;
    transition: 0.5s;
}

.letrasMenuLogin{
    display: flex;
    background-color: transparent;
    font-size: 1.5rem;
    color: whitesmoke;
    border: none;
    text-decoration: none;
    padding-top:0.5rem;
}